@import "tailwindcss";

:root {
  /* Core Palette */

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --background: #F8FAFC;
  --canvas: #FFFFFF;

  --text-primary: #0F172A;
  --text-secondary: #64748B;

  --border: #E2E8F0;
  --hover: #F1F5F9;

  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}